$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 120px;
$db-header-height: 64px;

//colors
$color-black: #000000;
$color-blue: #1a73e8;
$color-blue-2: #3c74ff;
$color-border: #c0c0c0;
$color-light-grey: #f8f9fa;
$color-white: #ffffff;