@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "~normalize.css";

@import "variables";
@import "mixins";

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";
@import "loader";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 120%;
}

.excel {
    position: relative;
    max-width: 100%;
    height: 100%;
    font-size: .8rem;
    color: #888;
}